
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.4;


}
section#popup {
    background-color: black;
    color:white;
}

section#popup div{

    display:flex;
    text-align:center ;
}

section#kabul {

    background-color: rgb(219, 101, 58);
    text-decoration: none;

} 